<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input type="email" matInput [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary"> <mat-icon matPrefix>check</mat-icon>  Submit</button>
  <button mat-button [mat-dialog-close]="true"> <mat-icon matPrefix>clear</mat-icon>Cancel</button>
</mat-dialog-actions>