<div class="container dashboard">
    <div class="row">
        <div class="col-8">
            <mat-form-field class="example-full-width">
                <mat-icon matPrefix>travel_explore</mat-icon>
                <input matInput #txtVal (keydown.enter)="applyFilter(txtVal.value)" [(ngModel)]="filterValue" placeholder="Search with Domain name, name, phone" value="">
                <mat-icon *ngIf="filterValue" (click)="filterValueClear()" matSuffix>close</mat-icon>
                <mat-hint align="start"><strong>Hit enter to search</strong> </mat-hint>
            </mat-form-field>
            {{isFilteredValue}}
        </div>
        <div class="col-4">
            <mat-card class="example-card" (dblclick)="profileView()">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"> </div>
                    <mat-card-title>example.com </mat-card-title>
                    <mat-card-subtitle>John Dee | Active</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Served On June 10, 2021 at 12:17 AM</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <p>Next Expiry On May 16, 2022</p>
                </mat-card-actions> -->
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"> </div>
                    <mat-card-title>example.com </mat-card-title>
                    <mat-card-subtitle>John Dee | Active</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Served On June 10, 2021 at 12:17 AM</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <p>Next Expiry On May 16, 2022</p>
                </mat-card-actions> -->
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"> </div>
                    <mat-card-title>example.com </mat-card-title>
                    <mat-card-subtitle>John Dee | Active</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Served On June 10, 2021 at 12:17 AM</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <p>Next Expiry On May 16, 2022</p>
                </mat-card-actions> -->
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"> </div>
                    <mat-card-title>example.com </mat-card-title>
                    <mat-card-subtitle>John Dee | Active</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Served On June 10, 2021 at 12:17 AM</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <p>Next Expiry On May 16, 2022</p>
                </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
   </div>