.example-full-width {
    width: 100%;
  }
.example-card {
    max-width: 300px;
    margin-bottom: 10px;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    .search-container {
        width: 70%;
        padding: 20px;
        .mat-input-element {
          padding-top: 5px;
        }
        }
    .last-served {
        width: 30%;
    }
  }
  